#frame {
  width: 95% !important;
  min-width: 360px !important;
  max-width: 1000px !important;
  height: 85vh !important;
  min-height: 300px !important;
  max-height: 720px !important;
  background: #e6eaea !important;
  margin: 2rem !important;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100% !important;
    height: 100vh !important;
  }
}
#frame #sidepanel {
  float: left !important;
  min-width: 280px !important;
  max-width: 340px !important;
  width: 40% !important;
  height: 100% !important;
  background: #2c3e50 !important;
  color: #f5f5f5 !important;
  overflow: hidden !important;
  position: relative !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px !important;
    min-width: 58px !important;
  }
}
#frame #sidepanel #profile {
  width: 80% !important;
  margin: 25px auto !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 5px 0 0 0 !important;
    background: #32465a !important;
  }
}
#frame #sidepanel #profile.expanded .wrap {
  height: 210px !important;
  line-height: initial !important;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px !important;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1) !important;
  -o-transform: scaleY(-1) !important;
  -webkit-transform: scaleY(-1) !important;
  transform: scaleY(-1) !important;
  filter: FlipH !important;
  -ms-filter: "FlipH" !important;
}
#frame #sidepanel #profile .wrap {
  height: 60px !important;
  line-height: 60px !important;
  overflow: hidden !important;
  -moz-transition: 0.3s height ease !important;
  -o-transition: 0.3s height ease !important;
  -webkit-transition: 0.3s height ease !important;
  transition: 0.3s height ease !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px !important;
  }
}
#frame #sidepanel #profile .wrap img {
  width: 50px !important;
  border-radius: 50% !important;
  padding: 3px !important;
  border: 2px solid #e74c3c !important;
  height: auto !important;
  float: left !important;
  cursor: pointer !important;
  -moz-transition: 0.3s border ease !important;
  -o-transition: 0.3s border ease !important;
  -webkit-transition: 0.3s border ease !important;
  transition: 0.3s border ease !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px !important;
    margin-left: 4px !important;
  }
}
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71 !important;
}
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f !important;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c !important;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6 !important;
}
#frame #sidepanel #profile .wrap p {
  float: left !important;
  margin-left: 15px !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none !important;
  }
}
#frame #sidepanel #profile .wrap i.expand-button {
  float: right !important;
  margin-top: 23px !important;
  font-size: 0.8em !important;
  cursor: pointer !important;
  color: #435f7a !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none !important;
  }
}
#frame #sidepanel #profile .wrap #status-options {
  position: absolute !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 150px !important;
  margin: 70px 0 0 0 !important;
  border-radius: 6px !important;
  z-index: 99 !important;
  line-height: initial !important;
  background: #435f7a !important;
  -moz-transition: 0.3s all ease !important;
  -o-transition: 0.3s all ease !important;
  -webkit-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px !important;
    margin-top: 57px !important;
  }
}
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1 !important;
  visibility: visible !important;
  margin: 75px 0 0 0 !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px !important;
  }
}
#frame #sidepanel #profile .wrap #status-options:before {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 8px solid #435f7a !important;
  margin: -8px 0 0 24px !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px !important;
  }
}
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden !important;
  border-radius: 6px !important;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px !important;
  display: block !important;
  cursor: pointer !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px !important;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886 !important;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin: 5px 0 0 0 !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px !important;
    height: 14px !important;
  }
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li
  span.status-circle:before {
  content: "" !important;
  position: absolute !important;
  width: 14px !important;
  height: 14px !important;
  margin: -3px 0 0 -3px !important;
  background: transparent !important;
  border-radius: 50% !important;
  z-index: 0 !important;
}
@media screen and (max-width: 735px) {
  #frame
    #sidepanel
    #profile
    .wrap
    #status-options
    ul
    li
    span.status-circle:before {
    height: 18px !important;
    width: 18px !important;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none !important;
  }
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online
  span.status-circle {
  background: #2ecc71 !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online.active
  span.status-circle:before {
  border: 1px solid #2ecc71 !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-away
  span.status-circle {
  background: #f1c40f !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-away.active
  span.status-circle:before {
  border: 1px solid #f1c40f !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-busy
  span.status-circle {
  background: #e74c3c !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-busy.active
  span.status-circle:before {
  border: 1px solid #e74c3c !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline
  span.status-circle {
  background: #95a5a6 !important;
}
#frame
  #sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline.active
  span.status-circle:before {
  border: 1px solid #95a5a6 !important;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0 !important;
  display: block !important;
  line-height: initial !important ;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left !important;
  clear: both !important;
  margin: 0 8px 5px 0 !important;
  padding: 5px 0 !important;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none !important;
  margin-bottom: 6px !important;
  background: #32465a !important;
  border-radius: 3px !important;
  color: #f5f5f5 !important;
  padding: 7px !important;
  width: calc(100% - 43px) !important;
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none !important;
  background: #435f7a !important;
}
#frame #sidepanel #search {
  border-top: 1px solid #32465a !important;
  border-bottom: 1px solid #32465a !important;
  font-weight: 300 !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none !important;
  }
}
#frame #sidepanel #search label {
  position: absolute !important;
  margin: 10px 0 0 20px !important;
}
#frame #sidepanel #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif !important;
  padding: 10px 0 10px 46px !important;
  width: calc(100% - 25px) !important;
  border: none !important;
  background: #32465a !important;
  color: #f5f5f5 !important;
}
#frame #sidepanel #search input:focus {
  outline: none !important;
  background: #435f7a !important;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5 !important;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5 !important;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5 !important;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5 !important;
}
#frame #sidepanel #contacts {
  height: calc(100% - 177px) !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none !important;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px) !important;
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px !important;
  background: #2c3e50 !important;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140 !important;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative !important;
  padding: 10px 0 15px 0 !important;
  font-size: 0.9em !important;
  cursor: pointer !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px !important;
  }
}
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a !important;
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a !important;
  border-right: 5px solid #435f7a !important;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88% !important;
  margin: 0 auto !important;
  position: relative !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100% !important;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute !important;
  left: 0 !important;
  margin: -2px 0 0 -2px !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border: 2px solid #2c3e50 !important;
  background: #95a5a6 !important;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71 !important;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f !important;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c !important;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px !important;
  border-radius: 50% !important;
  float: left !important;
  margin-right: 10px !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px !important;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0 !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none !important;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600 !important;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0 !important;
  padding: 0 0 1px !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -moz-transition: 1s all ease !important;
  -o-transition: 1s all ease !important;
  -webkit-transition: 1s all ease !important;
  transition: 1s all ease !important;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial !important;
  border-radius: initial !important;
  background: none !important;
  border: none !important;
  padding: 0 2px 0 0 !important;
  margin: 0 0 0 1px !important;
  opacity: 0.5 !important;
}
#frame #sidepanel #bottom-bar {
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
}
#frame #sidepanel #bottom-bar button {
  float: left !important;
  border: none !important;
  width: 50% !important;
  padding: 10px 0 !important;
  background: #32465a !important;
  color: #f5f5f5 !important;
  cursor: pointer !important;
  font-size: 0.85em !important;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none !important;
    width: 100% !important;
    padding: 15px 0 !important;
  }
}
#frame #sidepanel #bottom-bar button:focus {
  outline: none !important;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50 !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none !important;
    border-bottom: 1px solid #2c3e50 !important;
  }
}
#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a !important;
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px !important;
  font-size: 1em !important;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em !important;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none !important;
  }
}
#frame .content {
  float: right !important;
  width: 60% !important;
  height: 100% !important;
  overflow: hidden !important;
  position: relative !important;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px) !important;
    min-width: 300px !important ;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px) !important;
  }
}
#frame .content .contact-profile {
  width: 100% !important;
  height: 60px !important;
  line-height: 60px !important;
  background: #f5f5f5 !important;
}
#frame .content .contact-profile img {
  width: 40px !important;
  border-radius: 50% !important;
  float: left !important;
  margin: 9px 12px 0 9px !important;
}
#frame .content .contact-profile p {
  float: left !important;
}
#frame .content .contact-profile .social-media {
  float: right !important;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px !important;
  cursor: pointer !important;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px !important;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a !important;
}
#frame .content .messages {
  height: auto !important;
  min-height: calc(100% - 93px) !important;
  max-height: calc(100% - 93px) !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px) !important;
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px !important;
  background: rgba(0, 0, 0, 0) !important;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
#frame .content .messages ul li {
  display: inline-block !important;
  clear: both !important;
  margin: 15px 15px 5px 15px !important;
  width: calc(100% - 25px) !important;
  font-size: 0.9em !important;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px !important;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0 !important;
}
#frame .content .messages ul li.sent p {
  background: #435f7a !important;
  color: #f5f5f5 !important;
}
#frame .content .messages ul li.replies img {
  float: right !important;
  margin: 6px 0 0 8px !important;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5 !important;
  float: right !important;
}
#frame .content .messages ul li img {
  width: 22px !important;
  border-radius: 50% !important;
  float: left !important;
}
#frame .content .messages ul li p {
  display: inline-block !important;
  padding: 10px 15px !important;
  border-radius: 20px !important;
  max-width: 205px !important;
  line-height: 130% !important;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px !important;
  }
}
#frame .content .message-input {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  z-index: 99 !important;
}
#frame .content .message-input .wrap {
  display: flex;
  align-items: center;
}
#frame .content .message-input .wrap input {
  float: left !important;
  border: none !important;
  flex: 1;
  width: calc(100% - 90px) !important;
  padding: 11px 32px 10px 8px !important;
  font-size: 0.8em !important;
  color: #32465a !important;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px !important;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none !important;
}
#frame .content .message-input .wrap .attachment {
  position: absolute !important;
  right: 60px !important;
  z-index: 4 !important;
  margin-top: 10px !important;
  font-size: 1.1em !important;
  color: #435f7a !important;
  opacity: 0.5 !important;
  cursor: pointer !important;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px !important;
    right: 65px !important;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1 !important;
}
#frame .content .message-input .wrap button {
  border: none !important;
  padding-bottom: .1rem !important;
  width: 100px;
  cursor: pointer !important;
  background: #32465a !important;
  color: #f5f5f5 !important;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0 !important;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a !important;
}
#frame .content .message-input .wrap button:focus {
  outline: none !important;
}
