@font-face {
  font-family: "Lexend-Regular";
  src: url(../../media/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "Lexend-ExtraBold";
  src: url(../../media/fonts/Lexend-ExtraBold.ttf);
}

@font-face {
  font-family: "Lexend-ExtraLight";
  src: url(../../media/fonts/Lexend-ExtraLight.ttf);
}

*,
*::after,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "Lexend-ExtraLight", system-ui, -apple-system, BlinkMac,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
}
html {
  /* background-color: red; */
}
body {
  background-color: whitesmoke !important;
}
.wrapper a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  color: #134dc2;
}
.wrapper {
  margin: 0rem auto;
  position: relative;
  width: 793.7013px;
  height: 1122.5196850394px;
  overflow: hidden !important;
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  -color-adjust: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  background-color: white;
}
.wrapper strong {
  color: rgb(9, 9, 46);
}
.wrapper > * {
  margin: 2rem;
  margin-top: 0;
  z-index: 50;
}
.style_price {
  font-size: 1.6rem;
  color: #134dc2 !important;
  font-weight: bold;
}
.bill_head {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 0.3rem;
  color: #134dc2;
  padding-top: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
}
.wrapper img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.bill_head img {
  width: 150px;
}
.wrapper p,
.wrapper span {
  color: rgb(39, 38, 38);
}
.wrapper::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  height: 30px;
  top: 0;
  background: linear-gradient(to left, #42da82, #002c85);
}
.user_bill_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_bill_details > :nth-child(2) {
  text-align: right;
}

.main_content_section {
  display: flex;
  gap: 3rem;
}
.main_content_section > :nth-child(1) {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.bill_section_table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bill_section {
  display: flex;
  background-color: #134dc20c;
  border: 1px solid #134dc2;
  flex-direction: column;
  border-radius: 5px;
  color: gray;
}

.bill_section .bill_item {
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem 0.3rem;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  border-bottom: 1px solid #134dc2;
}
.bill_item > :last-child {
  text-align: right;
}
.bill_item > :nth-child(1) {
  width: 5%;
}
.bill_item > :nth-child(2) {
  min-width: 60%;
  flex: 1;
}
.bill_item > :nth-child(3) {
  flex: 1;
}
.bill_section > :last-child > :first-child {
  width: 40%;
}
.bill_section > * {
  padding: 0.5rem;
}
.footer_wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 0rem !important;
}

.background_pre {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /*background-color: red;
  */
  font-size: 5rem;
  transform-origin: top left;
  rotate: -50deg;
  transform: translate(-70%, 50%);
  height: 100%;
  color: rgba(201, 199, 199, 0.31);
  font-family: "Lexend-ExtraBold";
  z-index: 1 !important;
  -webkit-transform: translate(-70%, 50%);
  -moz-transform: translate(-70%, 50%);
  -ms-transform: translate(-70%, 50%);
  -o-transform: translate(-70%, 50%);
}

/* add this styles to every templates css module styles when printing */
@media print {
  .wrapper {
    background-color: white;
    width: calc(793.7013px);
  }
}

@page {
  size: A4 portrait;
  margin: 10mm;
}
