*,
*::after,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  margin: 1rem !important;
  padding: 0.5rem 1rem !important;
  border: none;
  outline: none;
  max-width: 100% !important;
  border: 1px solid gray;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
}
input:focus,
textarea:focus {
  border: 1px solid #42da82 !important;
}

#message_form {
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto 1rem;
  margin: auto !important;
}
.form_btn {
  background-color: #42da82 !important;
  color: white;
  width: max-content;
  padding: 0.5rem !important;
  margin: 1rem !important;
  width: 80%;
  font-weight: bold;
  border-radius: 20px;
  max-width: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.group_input {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}
.group_input > * {
  max-width: 100%;
  width: 100%;
}
.bordered_content {
  background: rgba(175, 196, 217, 0.346);
  width: 95%;
  max-width: 800px;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -3rem !important;
  flex-direction: column;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.message_with_logo_section {
  display: flex;
  align-items: center;
  font-weight: bold !important;
  text-transform: capitalize !important;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
.green_link {
  text-align: center;
  margin: 2rem 0 !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  font-size: 0.8rem !important;
}
.green_link a {
  color: #42da82 !important;
}

@media screen and (max-width: 652px) {
  .divided_main_content {
    flex-direction: column;
  }
  .divided_main_content .banner_wrapper {
    min-height: 50vh !important;
    height: 50vh !important;
    background-color: transparent !important;
  }
  .divided_main_content .banner_content {
    height: 50vh;
    background-color: #002c85 !important;
  }
  .divided_main_content.reverse_content {
    flex-direction: column-reverse;
  }
  .image_right {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .group_input > * {
    width: 40%;
  }
}
