:root {
  --green: #58a497 !important;
  --yellow: #e09449 !important;
  --lightgreen1: #a4bdb7 !important;
  --brown: #8b4448 !important;
  --gray: gray !important;
  --lightgreen2: rgb(164, 189, 183, 0.5) !important;
  --box: #ededed !important;
}

/* Content-1:Start */
.box {
  background: #ededed !important;
}
.box button {
  width: auto !important;
  border-radius: 10px !important;
  font-weight: bolder !important;
  padding: 0.5rem !important;
}

.button_dashbord {
  flex-wrap: wrap !important;
  display: flex !important;
  width: 100%;
  justify-content: space-around !important;
  flex-direction: row !important;
}

.button_dashbord .message {
  background: #ededed !important;
  border: 2px solid #000 !important;
}

.button_dashbord .connect {
  background-color: #000 !important;
  color: #ededed !important;
  border: none !important;
}
button.connect:hover {
  letter-spacing: 1px !important;
  transition: 0.5s !important;
}
button.message:hover {
  letter-spacing: 1px !important;
  transition: 0.5s !important;
  background: rgba(88, 164, 151, 0.5) !important;
}
/* Content-1:End */

/* Content-2:Start */
.box.box2 {
  flex-wrap: wrap !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem !important;
  margin: 3rem auto;
  width: 100% !important;
}
.box.box2 .content {
  flex-wrap: wrap !important;
  display: flex;
  flex-direction: column !important;
  width: 100%;
  align-self: center;
  padding: 1rem !important;
  justify-content: center !important;
  max-width: 700px;
  gap: 1rem;
}
.box.box2 .content > * {
  padding: 0.5rem !important;
}
.row {
  flex-wrap: wrap !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0px 0px 10px !important;
}

h5 {
  font-weight: bolder !important;
  font-size: 1em !important;
}

.row p {
  font-size: 0.8em !important;
}

.box2 .text {
  text-align: left !important;
}

.box2 .text .name {
  font-size: 2.1rem !important;
  margin: 2rem 0.2rem !important;
}

.box2 .text .job_title {
  font-size: 0.6em !important;
  margin-bottom: 10px !important;
}

.box2 .text .job_discription {
  margin: 0px !important;
}

.box2 .text .about {
  font-size: 0.9em !important;
  font-weight: bolder !important;
}
/* Content-2:End */

/* ========================================= */

.card_wrapper {
  width: 100%;
  flex-wrap: wrap !important;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
.card_wrapper .right {
  width: 100%;
  gap: 1rem;
}

.card_wrapper .right .info {
  padding: 30px 25px;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap !important;
  display: flex;
  justify-content: space-between !important;
}

.card_wrapper .right .info h3,
.card_wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card_wrapper .right .info_data,
.card_wrapper .right .projects_data {
  flex-wrap: wrap !important;
  display: flex !important;
  justify-content: space-between !important;
}

.card_wrapper .right .info_data .data h4,
.card_wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.card_wrapper .right .info_data .data {
  width: 50% !important;
}
.card_wrapper .right .info_data .data p,
.card_wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

/* Responsiveness:Start */
@media screen and (max-width: 480px) {
  .box {
    width: 100vw !important;
    border-radius: 0px !important;
  }
  .button_dashbord {
    flex-wrap: wrap !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .button_dashbord button {
    width: 250px !important;
  }
  button.connect {
    margin-top: 10px !important;
  }
}
